# Các thư mục thư viện cực nặng (Bắt buộc phải bỏ)
node_modules/
/node_modules
*/node_modules/

# Các file build sản phẩm (Không cần đưa lên vì có thể build lại)
build/
dist/
out/

# Các file log khi chạy lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Các file chứa biến môi trường (Bảo mật: API key, mật khẩu DB...)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File rác của hệ điều hành (Đặc biệt là Mac)
.DS_Store
Thumbs.db

# File cấu hình của trình soạn thảo (Optional)
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace